
@font-face {
  font-family: 'mangabey';
  src: url('./Fonts/CommandOverrideGradient-1xJB.otf');
  font-style: normal;
  font-weight: normal;
  }

  @font-face {
    font-family:'register';
    src: url('./Fonts/Roboto-Medium.ttf');
    font-style: normal;
    font-weight: medium;
    }
  
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #00151C;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #2dc997;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2dc997;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #49d6a9;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(52, 59, 64, 0.9);
}
#header #logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}
#header #logo img {
  padding: 0;
  margin: 0;
  height:64px;
  width:115px;
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  background: rgba(52, 59, 64, 0.9);
  height: 70px;
  transition: all 0.5s;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #2dc997;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #666666;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #2dc997;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(77, 77, 77, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #666666;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #2dc997;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #2dc997;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/bg-01.png) top center;
  background-size: cover;
  position: relative;
  z-index: 4;
  opacity: 1;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
#hero:before {
  content: "";
  /*background: rgba(0, 0, 0, 0.6);*/
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero img {
  margin: 30px 0 10px 0;
  width: 35rem;
  height: auto;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) and (min-width: 386px) {
  #hero img {
    width:25rem;
    height: auto;
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 385px) and (min-width: 305px) {
  #hero img {
    width:20rem;
    height: auto;
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 305px){
  #hero img {
    width:15rem;
    height: auto;
    font-size: 28px;
    line-height: 36px;
  }
}
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.trisk{
  font-family:'mangabey';
  text-align:center;
  font-size:3.4rem;
  color:#00E3BE;
  line-height: 70px;
  margin-bottom:1rem;
  letter-spacing:6px;
  margin-top:4.5rem;
}

.siz{
  font-size:4.7rem;
}

.countdown{
  display: flex;
  padding-bottom: 3rem;
  gap:2rem;
  font-size:1rem;
  color:rgb(190, 187, 187);

}

.time{
  position:relative;
  content:'';
  width:5rem;
  height:2.2rem;
  border-radius:50px;
  background-color: #00E3BE;
  font-size:1.5rem;
  color:#cdd9dd;
  font-weight: 600;
}

.abt{
  color:#fff;
  text-align:center;
  font-size:3rem;
  font-weight: 700;
  padding-bottom:4rem
}


.about{
  max-width:720px;
  padding:0 3rem;
  text-align:center;
  font-size:1.2rem;
  font-weight:500;
  color:rgb(212, 212, 212);
  margin:0 auto;
}

@media all and (min-width:1000px){
  
  .flex-align{
    display:flex;
    /* gap:2rem; */
  }
  
  .flex-align>*{
    flex-grow:1;
    padding:0;
    margin:0;

  }

  .flex-align p{
    margin-right:4rem;
    text-align:left;
  }

  .flex-align img{
    transform:translateY(-3.5rem);
  }
}

.abt-img{
  display:flex;
  align-items:center;
  max-width :450px;
  width:369px;
  height:auto;
  margin: 4rem auto 0 auto;
  opacity: 0.9;
}

.register{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  margin-top: 6rem;
  border:2px solid rgb(41, 41, 41);
  background-color: #00E3BE;
  padding:0.9rem 2rem;
  width:40%;
  border-radius: 30px;
  font-size:6vmin;
  font-family:'register';
  transition:all .25s ease-in-out;
  color:#000;
}

@media all and (max-width:992px){
  .register{
    width:80%;
    font-size:5vmax;
  }
}

.register:hover,.register:focus{
  cursor:pointer;
  border:2px solid #00E3BE;
  background-color:#021e27;
  color:#00E3BE;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 30px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: whitesmoke;
  min-height: 40px;
  margin-top: 92px;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #082929;
 
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}




/*--------------------------------------------------------------
# cards
--------------------------------------------------------------*/

.row{
  justify-content: center;
  align-items: center;
}


.card-big-shadow {
    max-width: 320px;
    position: relative;
}

.coloured-cards .card {
    margin-top: 30px;
}

.card[data-radius="none"] {
    border-radius: 20px;
}
.card {
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}


.card[data-background="image"] .title, .card[data-background="image"] .stats, .card[data-background="image"] .category, .card[data-background="image"] .description, .card[data-background="image"] .content, .card[data-background="image"] .card-footer, .card[data-background="image"] small, .card[data-background="image"] .content a, .card[data-background="color"] .title, .card[data-background="color"] .stats, .card[data-background="color"] .category, .card[data-background="color"] .description, .card[data-background="color"] .content, .card[data-background="color"] .card-footer, .card[data-background="color"] small, .card[data-background="color"] .content a {
    color: #000;
}
.card.card-just-text .content {
    padding: 50px 65px;
    text-align: center;
    align-items:center;
}


.card .content {
    padding: 20px 20px 10px 20px;
}
.card[data-color="blue"] .category {
    color: #7a9e9f;
}

.card .category, .card .label {
    font-size: 14px;
    margin-bottom: 0px;
}
.card-big-shadow:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
h4, .h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}
h6, .h6 {
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}
.card .description {
    font-size: 16px;
    color: #66615b;
}
.content-card{
    margin-top:30px;    
}
a:hover, a:focus {
    text-decoration: none;
}

/*======== COLORS ===========*/


.card[data-color="green"] {
    background:#00E3BE;
    
}
.card[data-color="green"] .description {
    color: #60773d;
}
.card[data-color="green"] .category {
    color: #92ac56;
}

@media (max-width: 575px) and (min-width: 370px) {
 .container .row{
  
  align-items: center;
  justify-content: center;

}
}

@media all and (min-width: 576px) {
 .row 
 {
  font-size: 15px;
}
}
@media (max-width: 575px) and (min-width: 370px) {
.row {
   position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.container{
  margin: 0px auto;

  padding:0.9rem 2rem;
}
.card{
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding:0.9rem 2rem;
  
}
}
@media (max-width: 990px) and (min-width: 720px) {
 .row 
 {
  font-size: 14px;
 }
}

#countdown1 {
  text-align: center;
  color: antiquewhite;
  border-radius: 25px;
  background: teal;
  padding: 20px;
  width: 150px;
  height: 15px;
}

#countdown2 {
  text-align: center;
  color: antiquewhite;
  border-radius: 25px;
  background: teal;
  padding: 20px;
  width: 150px;
  height: 15px;
}

#countdown3 {
  text-align: center;
  color: antiquewhite;
  border-radius: 25px;
  background: teal;
  padding: 20px;
  width: 150px;
  height: 15px;
  display: grid;
}

.countdownpanel>*{
  text-align: center;
  color: antiquewhite;
  border-radius: 25px;
  background: teal;
  padding: 20px;
  width: 150px;
  height: 15px;
  display: grid;
}
#countdownpanel{
    position: absolute;
   display: grid;
   grid-auto-flow: column ;
   margin-top: 40vh; 
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:linear-gradient(180deg, rgba(4,161,135,1) 0%, rgba(3,74,82,1) 41%, rgba(29,28,46,1) 100%);
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

.flex{
  display: flex;
  gap:2rem;
  justify-content: center;

}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
  padding-top: 20px;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #07394a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #00b371;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}
#footer .credits a {
  color: #00b371;
  transition: 0.3s;
}
#footer .credits a:hover {
  color: #009961;
}






